/* TodoContainer.css */
.todoContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #264653; /* Header background color */
    color: #E9C46A; /* Text color */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #E9C46A;
  }
  
  .todoContainer button {
    cursor: pointer;
  }
  