/* TodoContainer.css */
.todoContainer {
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #1A1A40; /* Header background color */
    color: #E9C46A; /* Text color */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #E9C46A;
  }
  
  .todoContainer button {
    cursor: pointer;
  }
  