/* ToDoList.css */
.toDoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 5px;
}

.taskInput {
  padding: 12px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  height: 70px; /* Set a fixed height */
}

.add-btn {
  padding: 12px;
  background-color: #2a9d8f; /* Green color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 70px; /* Set a fixed height */
  font-size: 1.2rem; /* Same font size as the input */
  display: block; /* To ensure the button takes the full width */
}

.add-btn:hover {
  background-color: #21867a;
}

ul {
  list-style-type: none;
  padding: 0;
}

.taskItem div {
  display: flex;
  align-items: center; /* Aligns the checkbox and text on the same line */
}

.taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a6a5a; /* Darker green background */
  color: white;
  padding: 20px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-radius: 5px;
}

.taskItem p {
  margin-left: 5px;
  margin-right: 15px;
}

.taskIcons {
  display: flex;
  gap: 10px;
}

.taskIconButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.taskIconButton:hover {
  color: #fff;
}

.taskIcon {
  font-size: 1.5rem;
}

input[type="checkbox"] {
  margin-right: 10px;
}
