/* Footer.css */
.footer {
    background-color: #262B42; /* Dark background color */
    color: #E9C46A; /* Text color */
    text-align: center;
    padding: 30px 20px; /* Increased padding for a bigger footer */
    position: relative;
    width: 100%;
  }
  
  .footer p {
    line-height: 1.5; /* Increase line height for better readability */
    font-size: 1.2rem;
  }
  
  .footer-links {
    margin-top: 30px;
  }
  
  .footer-links a {
    color: #E9C46A;
    text-decoration: none;
    margin: 0 25px;
    font-size: 1.2rem;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  