* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px; /* Added padding around the whole app */
  overflow: hidden; /* Prevents scrolling, keeping the app centered */
}

.App {
  text-align: center;
  width: 90%;
  max-width: 1000px; /* Limit max width for large screens */
}
